/* -------------------- Reset style start -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* -------------------- Reset style end -------------------- */

/* -------------------- General style start -------------------- */

html {
    font-size: 100%;
    font-family: 'satoshi', sans-serif;
    font-weight: 400;
}

body {
    font-size: 0.875rem;
}

@media only screen and (min-width: 390px) {
    body {
        font-size: 1rem;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

/* -------------------- General style end -------------------- */

/* -------------------- header style start -------------------- */

/* First order section */
.firstOrderContainer {
    background-color: black;
    font-size: 0.75rem;
    color: white;
    padding: .5rem 0;
}

.firstOrder {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 500px) {
    .firstOrder {
        justify-content: space-between;
        padding: 0 1.2rem;
    }
}

@media only screen and (min-width: 1120px) {
    .firstOrder {
        padding: 0 .25rem;
    }
}

.colorPicker {
    display: none;
}

@media only screen and (min-width: 500px) {
    .colorPicker {
        display: flex;
        column-gap: .5rem;
    }
}

.colorPicker .colorBurlyWood {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: burlywood;
    cursor: pointer;
}

.colorPicker .colorDarkGray {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: darkgray;
    cursor: pointer;
}

.colorPicker .colorWhite {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
}

.firstOrder a {
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    border-bottom: 1px solid white;
}

@media only screen and (min-width: 390px) {
    .firstOrder a {
        font-size: 1rem;
    }
}

#closeIcon {
    display: none;
}

@media only screen and (min-width: 500px) {
    #closeIcon {
        display: block;
    }
}

@media only screen and (min-width: 1140px) {
    #closeIcon {
        right: 0.25rem;
    }
}

#closeIcon:hover {
    cursor: pointer;
}
/* First order section */

/* navbar section */

.navbar {
    padding: .75rem 1rem;
    overflow: hidden;
}

.navbar .container {
    position: relative;
}

.navbar .navSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navSectionLeft {
    display: flex;
    align-items: center;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hamburgerMenu:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .hamburgerMenu {
        display: none;
    }
    .navbarBrand {
        margin-left: 0;
    }
}

.hamburgerMenu.active .bars:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
}

.hamburgerMenu.active .bars:nth-child(2) {
    display: none;
}

.hamburgerMenu.active .bars:nth-child(3) {
    transform: translateY(-4px) rotate(45deg);
}

span.bars {

    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    transition: transform .3s linear;
}

h1 {
    font-size: 1.5rem;
    font-family: 'archivo';
    font-weight: bold;
    margin-left: 1rem;
}

@media only screen and (min-width: 390px) {
    h1 {
        font-size: 2rem;
    }
}

.navSectionRight {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    margin-left: auto;
}

.searchSection {
    display: flex;
}

.searchIconSection {
    background-color: #F0F0F0;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    padding: 0 1rem;
    height: 2.75rem;
    display: none;
}

@media only screen and (min-width: 992px) {
    .searchIconSection {
        display: flex;
        align-items: center;
    }
    .searchIconTwo {
        display: none;
    }
}

.searchSection input {
    background-color: #F0F0F0;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    width: 300px;
    height: 2.75rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    display: none;
}

@media only screen and (min-width: 992px) {
    .searchSection input {
        display: block;
    }
}

.navSectionRight:hover {
    cursor: pointer;
}

/* nav section */

.navMenu {
    display: none;
    list-style: none;
}

.navMenu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    padding-top: .75rem;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .navMenu {
        display: flex;
        flex-direction: row;
        column-gap: 1.5rem;
        width: fit-content;
        padding: 0 !important;
        overflow: unset;
        position: absolute;
        top: 50%;
        left: 22%;
        transform: translateY(-50%);
    }
}

@media only screen and (min-width: 940px) {
    .navMenu {
        left: 18%;
    }
}

.navItem {
    padding-bottom: .5rem;
    border-bottom: 2px solid black;
    width: 100%;
}

.navItem:nth-child(1) {
    padding-top: .5rem;
    border-top: 2px solid black;
}

@media only screen and (min-width: 768px) {
    .navItem {
        border: none !important;
        padding: 0 !important;
        width: fit-content;
    }
}

.navItem .navLink {
    color: black;
}

.navItem .navLink:hover {
    color: rgba(0, 0, 0, .8);
}
/* nav section */

/* navbar section */

/* -------------------- header style end -------------------- */

/* -------------------- main style start -------------------- */

/* register & login section */

.wrapperForm {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, .5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    z-index: 100;
    border-radius: 1.25rem;
    padding: .75rem;
    width: 80%;
    height: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.wrapperForm.active {
    transform: scale(1) translate(-50%, -50%);
}

@media only screen and (min-width: 350px) {
    .wrapperForm {
        padding: 1.75rem 2.25rem;
    }
}

@media only screen and (min-width: 782px) {
    .wrapperForm {
        width: 40%;
    }
}

.wrapperForm .forms {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.registerForm,
.loginForm {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .25rem;
}

.loginForm {
    left: 1000%;
}

.wrapperForm .formTitle {
    font-family: 'archivo';
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.wrapperForm span.fa-close {
    position: unset !important;
    margin-left: auto;
    transform: unset !important;
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.fa-close:hover {
    cursor: pointer;
}

.wrapperForm div[class*='Field'] {
    position: relative;
    margin-bottom: .5rem;
}

.wrapperForm span[class*='fa'] {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapperForm span.fa-user-group {
    right: 2px;
}

.wrapperForm input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 2.5rem;
    font-family: inherit;
    padding-top: 1.5rem;
}

.wrapperForm label {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: top .25s ease;
}

.wrapperForm input:focus ~ label,
.wrapperForm input:valid ~ label {
    top: 25%;
}

.wrapperForm button {
    width: 100%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: inherit;
    border-radius: .25rem;
    margin-top: .5rem;
}

.wrapperForm button:hover {
    cursor: pointer;
}

.wrapperForm .account {
    font-size: .9rem;
    font-weight: 500;
    margin: 1.25rem 1rem;
    text-align: center;
}

.account .statusAccount {
    font-weight: bold;
}

.account .statusAccount:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* register & login section */

/* hero section */

.hero {
    background-color: #F2F0F1;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .heroSection {
        display: flex;
        padding: .75rem 1rem;
    }
}

@media only screen and (min-width: 1120px) {
    .heroSection {
        padding: 0;
    }
}

.heroMain {
    padding: 2rem .75rem 0;
}

@media only screen and (min-width: 768px) {
    .heroMain {
        padding: 4rem 0;
        margin: 0 auto 0 0;
        max-width: 55%;
    }
}

h2.heroTitle {
    font-size: 2.25rem;
    font-family: 'archivo';
}

@media only screen and (min-width: 768px) {
    h2.heroTitle {
        font-size: 2.75rem;
    }
}

p.heroDesciption {
    margin: .5rem 0 1rem 0;
}

button.heroButton {
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    button.heroButton {
        width: 35%;
    }
}

button.heroButton:hover {
    cursor: pointer;
    background: transparent;
    color: black;
    border: 2px solid black;
}

.heroInformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .75rem 1rem;
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .heroInformation {
        margin-top: 2rem;
        justify-content: left;
    }
}

.information {
    min-width: 118px;
}

.information:nth-child(1) {
    border-right: 2px solid rgba(0, 0, 0, .2);
    padding-right: 1rem;
}

.information:nth-child(3) p {
    text-align: center !important;
}

@media only screen and (min-width: 416px) {
    .heroInformation {
        flex-wrap: nowrap;
        gap: 0;
    }
    .information:nth-child(2) {
        border-right: 2px solid rgba(0, 0, 0, .2);
        padding: 0 1rem;
    }
    .information:nth-child(3) {
        padding-left: 1rem;
    }
    .information:nth-child(3) p {
        text-align: left !important;
    }
}

.information p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.information p:nth-child(2) {
    font-size: .75rem;
    text-align: left;
}

.heroImage {
    position: relative;
}

#shapeOne {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
}

#shapeTwo {
    position: absolute;
    left: 1.75rem;
    top: 8.5rem;
}

#mainImage {
    width: 100%;
    min-height: 100%;
}

.brandsName {
    background-color: black;
    position: absolute;
    top: 95%;
    padding: 2.5rem 1rem;
    width: 100%;
}

.brandsImage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

@media only screen and (min-width: 550px) {
    .brandsImage img {
        width: 15%;
    }
}


@media only screen and (min-width: 768px) {
    .brandsImage {
        gap: 0;
        justify-content: space-between;
    }
    .brandsImage img {
        width: 8%;
    }
}

/* hero section */

/* newArrivals section & topSelling section */

.newArrivals {
    margin-top: 6rem;
    padding: 2.25rem .75rem 0 .75rem;
}

.topSelling {
    padding: 2.25rem .75rem 0 .75rem;
}

.newArrivalsTitle,
.topSellingTitle {
    font-size: 2rem;
    font-family: 'archivo';
    text-align: center;
    margin: 1rem 0 2rem 0;
}

@media only screen and (min-width: 768px) {
    .newArrivalsTitle,
    .topSellingTitle {
        font-size: 3rem;
    }
}

.newArrivals .container,
.topSelling .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem 1rem;
}

@media only screen and (min-width: 390px) {
    .newArrivals .container,
    .topSelling .container {
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 768px) {
    .newArrivals .container,
    .topSelling .container {
        gap: 0 1rem;
    }
}

.newArrivals .container img, 
.topSelling .container img {
    width: 100%;
    background-color: #F2F0F1;
    border-radius: 1rem;
}

.productOne,
.productTwo {
    display: grid;
    align-items: center;
}

.newArrivals .productThree,
.newArrivals .productFour {
    display: none;
}

.topSelling .productThree,
.topSelling .productFour {
    display: none;
}

@media only screen and (min-width: 768px) {
    .newArrivals .productThree,
    .newArrivals .productFour {
        display: grid;
        align-items: center;
    }
    .topSelling .productThree,
    .topSelling .productFour {
        display: grid;
        align-items: center;
    }
}

.productTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .productTitle {
        font-size: 1.25rem;
    }
}

.productScore {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: .75rem;
    margin: .5rem 0;
}

.productMaxScore {
    color: rgba(0, 0, 0, .75);
}

.productPrice {
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.productOldPrice {
    color: rgba(0, 0, 0, .5);
    text-decoration: 1px line-through rgba(0, 0, 0, .5);
}

.productPercent {
    background-color: rgba(255, 51, 51, .25);
    color: #FF3333;
    border-radius: 4rem;
    font-size: .75rem;
    padding: .5rem .75rem;
}

.newArrivalsButton,
.topSellingButton {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.75rem;
    outline: none;
    width: 100%;
    padding: 1rem 0;
    margin: 1.25rem 0 2.5rem;
}

@media only screen and (min-width: 550px) {
    .newArrivalsButton,
    .topSellingButton {
        width: 22%;
    }
}

.newArrivalsButton:hover,
.topSellingButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.newArrivals .container:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
/* newArrivals section & topSelling section */

/* dress section */

.dressStyle {
    padding: .75rem;
}

.dressStyle .container {
    background-color: #F2F0F1;
    border-radius: 1.25rem;
    padding: 1.25rem;
}

@media only screen and (min-width: 650px) {
    .dressStyle .container {
        padding: 1.5rem 3rem 3rem 3rem;
    }
}

.dressStyleTitle {
    margin: .5rem 0 1.5rem 0;
    font-size: 2rem;
    font-family: 'archivo';
    text-align: center;
}

.dressStyleImages {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    row-gap: 1rem;
}

@media only screen and (min-width: 650px) {
    .dressStyleImages {
        gap: 1.25rem;
        grid-template-columns: repeat(5, 1fr);
    }
}

.dressStyleImages a {
    display: grid;
    background-color: white;
    overflow: hidden;
    height: 11rem;
    border-radius: 1.25rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    position: relative;
}

@media only screen and (min-width: 650px) {
    .dressStyleImages a {
        height: 14rem;
        font-size: 2rem;
    }
    .dressStyleImages a:nth-child(1) {
        grid-column: 1 / 3;
    }
    .dressStyleImages a:nth-child(2) {
        grid-column: 3 / 6;
    }
    .dressStyleImages a:nth-child(3) {
        grid-column: 1 / 4;
    }
    .dressStyleImages a:nth-child(4) {
        grid-column: 4 / 6;
    }
}

.dressStyleImages h5 {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.dressStyleImages img {
    width: 100%;
    height: 100%;
}

/* dress section */

/* comment section */
.wrapper {
    padding: .75rem;
}

.wrapper .container {
    position: relative;
}

.wrapper .commentTitle {
    font-size: 2.5rem;
    font-family: 'archivo';
}

.wrapper .arrow {
    position: absolute;
    right: 7%;
    top: 9%;
}

.wrapper .arrow:hover {
    cursor: pointer;
}

.wrapper .arrow:last-child {
    right: 0;
}

.wrapper .comment {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    column-gap: 1rem;
    cursor: pointer;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 1.25rem 0 2.5rem 0;
}

@media only screen and (min-width: 600px) {
    .wrapper .comment {
        grid-auto-columns: calc(100% / 2);
    }
}

@media only screen and (min-width: 900px) {
    .wrapper .comment {
        grid-auto-columns: calc(100% / 3 - 12px);
    }
}

.comment::-webkit-scrollbar {
    display: none;
}

.comment.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.comment.dragging .commentCard {
    user-select: none;
    cursor: grab;
}

.comment .commentCard {
    list-style: none;
    scroll-snap-align: start;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 1.25rem;
    padding: 1.5rem 1.25rem;
}

.commentUser {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.commentUser .commentTitle {
    font-size: 1rem;
    font-weight: bold;
}

.commentText {
    font-size: .875rem;
    color: black;
}
/* comment section */

/* offer Product */

.suggest {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 318px;
    background-color: ghostwhite;
    z-index: 1000;
    padding: .25rem;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 18px rgba(0, 0, 0, .5);
    display: none;
}

@media only screen and (min-width: 390px) {
    .suggest {
        width: 350px;
        left: unset;
        right: 10%;
        transform: translateX(0);
    }
}

.suggest.active {
    display: block;
}

.suggestHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestHeader span:first-of-type {
    font-size: 1.2rem;
    font-weight: bold;
}

.suggest .fa-close {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestProduct {
    display: flex;
    justify-content: center;
    padding: .25rem .75rem 0;
}

.suggestProduct img {
    width: 120px;
}

.suggestInformation {
    padding-top: .5rem;
    text-align: center;
}

.suggestInformation h4 {
    margin-bottom: .25rem;
}

.suggestInformation span:nth-of-type(1) {
    font-size: 1.25rem;
    width: 45%;
    display: inline-block;
    text-decoration: 1px line-through rgba(0, 0, 0, .5);
    text-align: center;
    color: rgba(0, 0, 0, .5);
    margin-bottom: .25rem;
}

.suggestInformation span:nth-of-type(2) {
    font-size: 1.25rem;
    background-color: rgba(255, 51, 51, .25);
    color: #FF3333;
    border-radius: 4rem;
    padding: 0.2rem 0.6rem;
    margin-bottom: .25rem;
}

.suggestInformation span:nth-of-type(3) {
    font-size: 1.5rem;
    background-color: #0f5132;;
    color: white;
    width: 90%;
    display: inline-block;
    padding: .2rem 0;
    border-radius: .5rem;
}

.suggest button {
    width: 100%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-family: inherit;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

/* offer Product */

/* -------------------- main style start -------------------- */

/* -------------------- footer style start -------------------- */

footer {
    padding: 0 0.75rem;
    background-color: #F0F0F0;
}

footer .container {
    padding-top: 10.5rem;
    margin-top: 9rem;
    position: relative;
}

@media only screen and (min-width: 768px) {
    footer .container {
        padding-top: 6rem;
        margin-top: 5rem;
    }
}
/* offer section */

.offerSection {
    background-color: black;
    color: white;
    border-radius: 1.25rem;
    padding: 1.75rem 1.5rem;
    margin-top: 8rem;
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .offerSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.offerTitle {
    font-size: 2rem;
    font-family: 'archivo';
    max-width: 450px;
}

.offerSection form {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .offerSection form {
        width: 35%;
    }
}

.emailInput {
    display: flex;
    align-items: stretch;
    height: 2.5rem;
    margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
    .emailInput {
        margin-top: 0;
    }
}

.emailIcon {
    background-color: white;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

#offerEmail {
    font-family: inherit;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, .5);
    width: 100%;
}

.offerButton {
    background-color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 2rem;
    width: 100%;
    height: 2.5rem;
}

.offerButton:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

/* offer section */

/* additional Information section */

.additionalInformation {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media only screen and (min-width: 992px) {
    .additionalInformation {
        flex-direction: row;
    }
}

.informationSection {
    font-size: .875rem;
    max-width: 250px;
    display: grid;
    align-items: center;
}

@media only screen and (min-width: 550px) {
    .informationSection {
        margin: auto;
        text-align: center;
    }
}


@media only screen and (min-width: 992px) {
    .informationSection {
        margin-right: 6rem;
        text-align: start;
    }
}

.informationTitle {
    font-size: 1.75rem;
    font-family: 'archivo';
}

.informationDescription {
    color: rgba(0, 0, 0, .6);
    margin: 1rem 0;
}

.contactUs {
    display: flex;
    column-gap: .75rem;
    align-self: flex-end;
}

@media only screen and (min-width: 550px) {
    .contactUs {
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .contactUs {
        justify-content: start;
    }
}

.informationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 50%;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
    .informationIcon {
        margin: 0;
    }
}

.informationIcon:hover {
    background-color: black;
    fill: white;
    cursor: pointer;
}

.linkSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    row-gap: 1.5rem;
}

@media only screen and (min-width: 550px) {
    .linkSection {
        grid-template-columns: repeat(4, auto);
    }
}

.linkSection h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .75rem;
}

.linkSection ul {
    list-style: none;
}

.linkSection ul li {
    margin-top: .75rem;
}

.linkSection ul a {
    color: rgba(0, 0, 0, .6);
}
/* additional Information section */

/* sub Footer section */

.subFooter {
    color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .25rem 0 1.5rem;
}

@media only screen and (min-width: 550px) {
    .subFooter {
        flex-direction: row;
        justify-content: space-between;
    }
}

.subFooter p {
    margin: .75rem 0;
}

.imageAccount {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.imageAccount svg {
    background-color: white;
    width: 2.5rem;
    height: 1.75rem;
    border-radius: .25rem;
    padding: .25rem;
}

.imageAccount svg:hover {
    cursor: pointer;
}

/* sub Footer section */

/* -------------------- footer style start -------------------- */